<style>
    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
        background-color: #1F77D0;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
         border-top-left-radius: 5px;
         border-top-right-radius: 5px;
    }
</style>

<% content_for :model_box do %>
<!-- Modal -->
<div class="modal fade" id="MoreContent-<%=job.id%><%=index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" style="color:#fff">&times;</button>
				<h4 class="modal-title" style="color:#fff">Cover Letter</h4>
			</div>
			<div class="modal-body">
				<p><%= raw(body) %></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-fill btn-round" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<% end %>