 <html>
    <!-- line modal -->
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">

		<div class="modal-body">
            <!-- content goes here -->
            <iframe id='ifr' frameborder="0" style="width:100%; height:350px; "></iframe>
		</div>

	</div>
  </div>
</div>
</html>