<ul class="nav nav-pills">
   <li  style="width: 25%;"><%= link_to "First Tab", step1_employer_wizards_path(id: params[:id]), style:"background: #23CCEF" %></li>
   <li style="width: 25%;" class=""><%= link_to "Second Tab", step2_employer_wizards_path(id: params[:id]), style:"background: #23CCEF" %></li>
   <li style="width: 25%;" class=""><%= link_to "Third Tab", step3_employer_wizards_path(id: params[:id]), style:"background: #23CCEF" %></li>
   <li class="active" style="width: 25%;" class=""><%= link_to "Forth Tab", step4_employer_wizards_path(id: params[:id]), style:"background: #23CCEF" %></li>
</ul>