
<div class="row">
	<div class="col-md-10 col-md-offset-1">
      <div class="card">
        <div class="content alert alert-danger fade in alert-dismissable">
            <%= @message %>
        </div>
      </div>
    </div>
</div>