development:
  S3_BUCKET_NAME: ""
  S3_REGION: ""
  AWS_ACCESS_KEY: ""
  AWS_SECRET_KEY: ""
  GMAIL_USERNAME: ""
  GMAIL_PASSWORD: ""
  STRIPE_SECRET_KEY: ""
  STRIPE_PUBLIC_KEY: ""
  ACTION_CABLE_URL: ""
  REDISCLOUD_URL: ""
  CONTACT_SUPPORT_EMAIL: ""
  ADMIN_USERNAME: ""
  ADMIN_PASSW: ""

production:
  S3_BUCKET_NAME: ""
  S3_REGION: ""
  AWS_ACCESS_KEY: ""
  AWS_SECRET_KEY: ""
  GMAIL_USERNAME: ""
  GMAIL_PASSWORD: ""
  STRIPE_SECRET_KEY: ""
  STRIPE_PUBLIC_KEY: ""
  ACTION_CABLE_URL: ""
  REDISCLOUD_URL: ""
  SECRET_KEY_BASE: ""
  CONTACT_SUPPORT_EMAIL: ""
  ADMIN_USERNAME: ""
  ADMIN_PASSW: ""
