<header class="page-header bg-img size-lg" style="background-image: url(https://static.pexels.com/photos/215/road-sky-clouds-cloudy.jpg)">
	<div class="container no-shadow">
		<h1 class="text-center">About Us</h1>
	</div>
</header>

<%= render 'layouts/footer' %>