<!-- Site header -->
<header class="page-header bg-img size-lg" style="background-image: url(https://static.pexels.com/photos/215/road-sky-clouds-cloudy.jpg)">
	<div class="container no-shadow">
		<h1 class="text-center"> Contact Us </h1>
	</div>
</header>
<!-- END Site header -->
<%= render 'layouts/footer' %>