<!-- Site header -->
<header class="site-header size-lg text-center" style="background-image: url(https://static.pexels.com/photos/429248/pexels-photo-429248.jpeg)">
	<div class="container">
		<div class="col-xs-12">
			<h1>Frequently asked questions</h1>
			<h5 class="font-alt">Probably you'll find your answer here. Contact us if you don't find what you're looking for.</h5>
		</div>
	</div>
</header>
<!-- END Site header -->
<!-- Main container -->
<main id="faq-result">
	<section>
    <div class="container">
      <header class="section-header text-left">
        <span>Common questions</span>
        <h2>Employer</h2>
      </header>
      <div class="bs-example">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-plus"></span> How long do most intern programs last?</a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Intern programs can be any length of time, but generally last between two and a half to three months. Typically, an internship will last the length of a school semester, but it can also cover the span of a school break.Internships can begin any time of year, but it’s customary for them to begin at the beginning of a school semester or quarter.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-plus"></span> How do I set up an intern program?</a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>A good place to start is to learn about your legal rights and obligations when hosting interns. Familiarize yourself with the legal ramifications of hiring interns and learn whether aspects such as employee benefits apply to them.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-plus"></span> Are all internships unpaid?</a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Not all internships are unpaid. An apprenticeship is always paid while a co-op term can be paid or not. It really depends on the arrangements made between the intern, the employer, and the school if there is one involved.</p>
                <p>Sometimes, desingers who are not paid during the internship receive a stipend upon completion of their work. Whether an internship is paid or not must be made clear to the intern before the commencement of the internship.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-plus"></span> What kind of internships are there?</a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <p>This is one of the most common types of internships. It is an arrangement between a college or university and an employer whereby a designer gains career-related experience for the duration of a semester. They intern receives academic credit for their work.</p>
                <h6>Field Experience</h6>
                <p>This type of internship involves collecting data in the field and interpreting it as part of a science or social science education. Work might include studying subjects in a research trial and compiling and processing data.</p>
                <h6>Practicum</h6>
                <p>A practicum, involves having a designer work on a project either individually or in a group setting. The intern gains real world experience while under the supervision of their school as well as their employer.</p>
                <h6>Service Learning</h6>
                <p>This type of internship focuses on helping a community. They are often offered by community service programs and not-for-profit organizations. It is generally set up as a three-step process whereby designers put forth their goals for the internship, perform the work, and present their conclusions based on their experience.</p>
                <h6>Externship</h6>
                <p>This is the shortest type of internship, typically lasting one to three weeks. It involves having the intern work in their chosen field of study. This type of internship is unpaid and is most commonly used in the legal and medical fields.</p>
                <h6>Apprenticeship</h6>
                <p>This type of internship lasts the longest at one to five years. It is most commonly offered to designers learning a skilled trade. It is a paid internship and is generally a required component of their education.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-plus"></span> How do I set up an intern program?</a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                <p>A good place to start is to learn about your legal rights and obligations when hosting interns. Familiarize yourself with the legal ramifications of hiring interns and learn whether aspects such as employee benefits apply to them.</p>
                <p>Next, plan out what you intend to have the intern work on. Make sure the work is meaningful and educational for the intern. It’s great to find someone who is willing to don the company mascot costume and stand at the corner with a big sign to advertise your business, but this is, of course, not an effective use of the intern’s skills. Also ensure that the project you’ll have the intern(s) working on is meaningful to your organization. Offering an intern program should be mutually beneficial.</p>
                <p>Decide whether this will be a paid position with regular paycheques, a project that offers a stipend upon completion, or an unpaid position. Also be sure to understand that while it is often the case, not all internships provide designers with educational credit. This is something established by their educational institution.</p>
                <p>Make sure your entire organization is on board with your new intern program by clearly establishing what your current employees’ roles will be. Be sure to also promote the benefits of offering an intern program so that everyone is on board.</p>
                <p>Once the above steps have been taken, it’s time to begin the hiring process. Start by posting the position through our site. Contact them to determine when the best time of year to do this is. Evaluating candidates and conducting interviews should be similar to the process followed when hiring employees for your organization. Think about what skills and attributes you want your interns to have.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><span class="glyphicon glyphicon-plus"></span> How do I hire the right interns for my program?</a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
                <p>As mentioned above, hiring interns is very similar to hiring employees. Advertising through our site should result in dedicated candidates applying to your program. Consider making the internship a generously-paid position if you want to make the application process a little more competitive. Once you have selected eligible candidates and you begin the interview process, think about which candidates would be the best fit for your internship and your organization as a whole.</p>
                <p>Remember that less tangible characteristics such as positive attitude and willingness to work as part of a team can be as important or even more important than experience. Don’t be afraid to take on interns with minimal experience if they appear eager to learn. Similarly, don’t jump at the opportunity to take on interns who have the most experience if they don’t appear exited at the prospect of being part of your intern program.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"><span class="glyphicon glyphicon-plus"></span> How do I train many interns at the same time?</a>
              </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Training many interns at the same time is basically the same as training employees. If you want to hire many interns for a big project, talk to us about implementing a training strategy. We’d love to help you out!</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight"><span class="glyphicon glyphicon-plus"></span> How do I train many interns at the same time?</a>
              </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Creating an internship program that is attractive to potential candidates will help attract the talent you’re looking for. That’s why it’s important to make sure your internships are appealing to designers. You can do this by focusing on the things interns look for in a company.</p>
                <p>Adequate compensation is key in this area. Consider offering at least modest pay for the work your interns do. Any perks you can offer – such as free coffee or flexible work hours – will also help.</p>
                <p>Ensure the work you provide your interns is meaningful and in line with their educational goals. Take advantage of their skills and fresh new ideas.</p>
                <p>Even though your interns will be with your organization for a short time, it’s important for them to feel a sense of belonging while they’re there. Creating an “us and them” mentality will only serve to alienate them, as will lack of accessibility to supervisors.</p>
                <p>Lastly, be honest when promoting the internship. Don’t make promises you can’t keep and don’t misrepresent what your interns can expect to do in the way of meaningful work</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine"><span class="glyphicon glyphicon-plus"></span> What are virtual internships?</a>
              </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
              <div class="panel-body">
                <h5>What are virtual internships?</h5>
                <p> A virtual internship is an internship whereby the intern does not actually physically go to their place of work. Participants generally communicate with their employer online, via email, Skype, text messaging, or phone conversations. Most virtual internships are in the IT sector.</p>
                <p>Virtual internships are slowly gaining in popularity but are still quite rare. Participants are generally not given compensation.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse10"><span class="glyphicon glyphicon-plus"></span> What are some of the tasks interns can do?</a>
              </h4>
            </div>
            <div id="collapse10" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Interns generally come with a lot of enthusiasm and fresh ideas. It’s important to make use of these assets when assigning them tasks.</p>
                <p>Today’s desginers have a familiarity with social media that is unparalleled. Use this to your advantage and get them involved in social media strategization. Other great tasks for interns include compiling data, beta testing, and job shadowing.</p>
                <p>Keep in mind that since interns are only with your organization temporarily, you won’t want to give them access to sensitive information. Furthermore, consider what could happen if an intern makes a major mistake on a task. Do not assign anything that could result in disaster if not done correctly.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse11"><span class="glyphicon glyphicon-plus"></span> What are some of the main benefits to starting an intern program?</a>
              </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Intern programs are win-win; they benefit both employers and designers. Because they are most often young designers, interns will provide valuable insight into how things are done at your organization. Their proficiency with technology can help you find new and more efficient ways to do certain tasks.</p>
                <p>Starting an intern program will help you realign and refocus your priorities. Do you have a list of initiatives that will help increase the scope of your business but you just haven’t had a chance to get to them? These are the perfect projects for interns.</p>
                <p>Lastly, starting an intern program will provide you with an excellent hiring pool. Because you will have already observed interns in your business setting, you will have an excellent idea of how well they would fit in as a long-term employee.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse12"><span class="glyphicon glyphicon-plus"></span> What kind of roles suit interns best?</a>
              </h4>
            </div>
            <div id="collapse12" class="panel-collapse collapse">
              <div class="panel-body">
                <p>We love to see interns in all sorts of roles. A qualified intern can help your business on many levels. We discuss these roles and much more in our resource section.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse13"><span class="glyphicon glyphicon-plus"></span> Where do I find interns?</a>
              </h4>
            </div>
            <div id="collapse13" class="panel-collapse collapse">
              <div class="panel-body">
                <p>While there are many place to find interns, such as Universities, Colleges, and even online, we’ve created a one-stop place for you in Montreal to find the interns you require. Talk to one of our experts today to find out how interns can help grow your business.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse14"><span class="glyphicon glyphicon-plus"></span> What are some basic tips to writing job descriptions that attract the best interns?</a>
              </h4>
            </div>
            <div id="collapse14" class="panel-collapse collapse">
              <div class="panel-body">
                <p>It’s good to start with something inviting to captivate your audience. Make your job description stand out with something that will make the reader continue reading. Is there something unique or exceptional about your internship program? Make sure the reader knows about it right off the bat.</p>
                <p>Discuss your team’s size, what your team is responsible for, and why it’s a great one to join. Explain in detail what the internship’s role will be, what tasks are involved, and how it will help them grow their resumes. Be honest, though, and refrain from making the internship sound like something it’s not. State whether it is a paid or unpaid internship, hours of work per week, expected start and end dates, etc.</p>
                <p>Tell candidates exactly what you’re looking for in an intern. Be specific. And lastly, provide details regarding the application process.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse15"><span class="glyphicon glyphicon-plus"></span> Is it okay to give interns menial tasks?</a>
              </h4>
            </div>
            <div id="collapse15" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Of course, interns are looking to further their education and work experience through their internships. It is important to strike a balance between the mundane and the riveting. If your internship consists solely of mindless tasks that no one else wants to do, it will put your program at a disadvantage.</p>
                <p>Also keep in mind that, when it comes to tasks, what might be menial to permanent staff might be meaningful to an intern. When considering which tasks to assign to interns, think about including those which are important to your organization, but might not have been completed by permanent staff who have focused their time on other tasks.</p>
                <p>Of course, there are many things that interns can help you do! Give them a few challenges, some tougher projects and watch your business grow! You might find your next star employee.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse16"><span class="glyphicon glyphicon-plus"></span> How do I hire interns for permanent roles?</a>
              </h4>
            </div>
            <div id="collapse16" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Internships can be viewed as the ultimate job interview. What better way to decide whether a prospective employee is suitable for your organization than to observe them during their internship. They will also cost you much less than a professional recruiter.</p>
                <p>If your plan is to take on interns with an eye toward hiring them on permanently, consider creating internship programs for designers approaching the end of their university career. This will ensure they complete their studies soon after their internship and they’ll be available to be hired on full-time.</p>
                <p>A good plan of action is to select those interns whom you plan to offer permanent employment, and slowly increase their responsibilities over the span of the internship until it is equal to that of a permanent position. When you present your interns with an offer of employment, make sure it sets your organization apart. A competitive salary, benefits, and a signing bonus or help with relocation costs can go a long way in securing your company’s growth.</p>
                <p>We specialize in helping businesses find qualified interns right here in Montreal. Talk to one of our experts today to see how interns can grow your business!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="bg-alt">
        <div class="container">
          <header class="section-header text-left">
            <span>Bring it up</span>
            <h2>Designer</h2>
          </header>
          <ul class="faq-items">
            <li>
              <h5>HQuestion</h5>
              <p>Cras mattis quam ut tortor varius, vel sollicitudin libero congue. Pellentesque ac turpis luctus, dictum ante a, efficitur arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam dignissim efficitur pellentesque. Nunc laoreet eu sapien in bibendum. Praesent malesuada lacus ante, at vestibulum nulla finibus in.</p>
            </li>
            <li>
              <h5>Question</h5>
              <p>Lorem ipsum dolor sit amet test, consectetur adipiscing elit. Pellentesque velit leo, fringilla ac facilisis sit amet, posuere vitae massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec facilisis finibus nulla vel congue.</p>
            </li>
            <li>
              <h5>Question</h5>
              <p>Ut ac justo posuere, maximus dolor vel, lobortis quam. Sed malesuada at magna vitae vestibulum. In hac habitasse platea dictumst. Sed a ultrices massa, in commodo tortor. Quisque faucibus aliquam urna ultrices tristique. Nunc cursus malesuada est eu facilisis. Sed gravida urna eget odio volutpat, ut bibendum dolor condimentum.</p>
            </li>
            <li>
              <h5>Question</h5>
              <p>Etiam venenatis nisi venenatis, consectetur nibh viverra, efficitur mauris. Ut efficitur, lorem vel porta sagittis, mi lacus gravida tortor, ac porta nunc enim et dui. Nunc vitae auctor ex, et porttitor metus. Maecenas tincidunt est urna, id egestas eros mollis sed. In commodo quis nisl a malesuada. Donec pretium efficitur malesuada. Quisque vitae gravida sem.</p>
            </li>
            <li>
              <h5>Question</h5>
              <p>Etiam venenatis nisi venenatis, consectetur nibh viverra, efficitur mauris. Ut efficitur, lorem vel porta sagittis, mi lacus gravida tortor, ac porta nunc enim et dui. Nunc vitae auctor ex, et porttitor metus. Maecenas tincidunt est urna, id egestas eros mollis sed. In commodo quis nisl a malesuada. Donec pretium efficitur malesuada. Quisque vitae gravida sem.</p>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </section>
</main>
<!-- END Main container -->
<%= render 'layouts/footer' %>

<!-- JS - expand/collapse -->
 <script type="text/javascript">
$(document).ready(function(){
    // Add minus icon for collapse element which is open by default
    $(".collapse.in").each(function(){
        $(this).siblings(".panel-heading").find(".glyphicon").addClass("glyphicon-minus").removeClass("glyphicon-plus");
    });
    
    // Toggle plus minus icon on show hide of collapse element
    $(".collapse").on('show.bs.collapse', function(){
        $(this).parent().find(".glyphicon").removeClass("glyphicon-plus").addClass("glyphicon-minus");
    }).on('hide.bs.collapse', function(){
        $(this).parent().find(".glyphicon").removeClass("glyphicon-minus").addClass("glyphicon-plus");
    });
});
</script> 
  
