<header class="site-header size-lg text-center" style="background-image: url(<%= asset_path 'faq'%>)">
	<div class="container">
		<div class="col-xs-12">
			<h1> Frequently asked questions </h1>
			<h5 class="font-alt">
        Probably you'll find your answer here. Contact us if you don't find what you're looking for.
      </h5>
		</div>
	</div>
</header>