 <!-- Site header -->
<header class="page-header bg-img size-lg" style="background-image: url(<%= asset_path 'pricing' %> )">
	<div class="container no-shadow">
		<h1 class="text-center">Pricing tables</h1>
		<p class="lead text-center">We've got an awesome pricing table and package selection. You can have three or four package type.</p>
	</div>
</header>
<!-- END Site header -->
<!-- Main container -->
<main>
	<!-- Three types -->
	<section>
		<div class="container">
			<header class="section-header">
				<span>Plans</span>
				<h2>Three types</h2>
			</header>
			<ul class="pricing">
				<li style="margin-left: 10%;">
					<h6>Basic Package</h6>
					<div class="price">
						<sup>$</sup>0
						<span>&nbsp;</span>
					</div>
					<hr>
					<p><strong>1</strong> job posting</p>
					<p><strong>No</strong> featured job</p>
					<p><strong>5 days</strong> listing duration</p>
					<br>
				</li>
				<li style="margin-left: 10%;">
					<h6>University</h6>
					<div class="price">
						<sup>Contact Us</sup>
						<span> 1 hour response time</span>
					</div>
					<hr>
					<p><strong>unlimited</strong> job posting</p>
					<p><strong>unlimited</strong> featured job</p>
					<p><strong>unlimited days</strong> listing duration</p>
					<br>
				</li>
			</ul>
		</div>
	</section>
	<!-- END Three types -->
</main>
<!-- END Main container -->
<%= render 'layouts/footer' %>