<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new designer applied to your job! Log into myfreelancehub.com and find out who!</p>
    <br>
    <p>Sincerely,</p>
	<p>Your friends at Guru </p>
  </body>
</html>