<div class="field dropZoneContainer">
	<%= f.fields_for(:company_logos) do |company_field| %>
    <div class="row">
      <div class="col-xs-12 col-sm-12" id="company-logo">
        <% if @employer_profile.errors.any? %>
          <% image="avatar.png"  %>
        <% else %>
          <% image=@employer_profile.company_logos.first.url(:original) %>
        <% end %>
        <% image =  @employer_profile.company_logos.first.url(:original)  %>
        <%= image_tag image, class: "avatar", style: "background-color: white; border-radius: 4px" %>
        <%= company_field.file_field :attachment, as: :file, class: "FileUpload", onchange: "handleFileSelect(this)" %>
        <% if @employer_profile.company_logos.count > 0 %>
          <div class="dropZoneOverlay" id="dropZoneOverlay" style="width: 100%">Change Company Logo</div>
        <% else %>
          <div class="dropZoneOverlay" id="dropZoneOverlay" style="width: 100%">Add Company Logo</div>
        <% end %>
      </div>
    </div>
	<% end %>          
</div>

<script type="text/javascript">
    $(function() {
        $(".FileUpload").change(function (){
            work_flash.flashNotification('top','right',"", "New logo was uploaded")
        });
    });
    work_flash = {
        flashNotification: function(from, align, key, message){
            $.notify({ message: message},
                { type: 'success', timer: 3000, placement: { from: from, align: align }
                });
        }
    }
    $('div.dropZoneOverlay').click(function(){
        $('.FileUpload').click();
    });
</script>