<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6> About </h6>
        <p class="text-justify">We are a unique online platform for employers and freelancers to connect. Our streamlined process makes hiring talented freelancers effortless. If you are looking for skilled candidates look no further.<br>
          FreelanceHub takes pride in offering top solutions for freelancers searching for a suitable jobs and internships. </br>
        </p>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>FreelanceHub</h6>
        <ul class="footer-links">
          <li><a href="/">Home</a></li>
          <li><a href="/privacypolicy">Privacy Policy</a></li>
          <li><a href="contact_us">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6> Browse Job By Category </h6>
        <ul class="footer-links">
          <li><a href="/employers?by_diploma=Associate">Associates</a></li>
          <li><a href="/employers?by_diploma=Baccalaureate">Baccalaureate</a></li>
          <li><a href="/employers?by_diploma=Doctorate">Doctorate</a></li>
          <li><a href="/employers?by_diploma=PhD">PhD</a></li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/freelancerhubinternships" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/freelancerhub_/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108134457-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108134457-1');
    </script>
  </div>
</footer>

